

@media (min-width: 1px) {
    .svgIcon{
        max-height: 20px;
        padding-top: 5px;
    }
    .svgIconLg{
        max-height: 30px;
    }
    .svgIconSide{
        display: none;
    }
    .navbarFooter {
        background: rgb(227,227,227);
        background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 40%);
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .navbarFooter ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        padding-inline-start: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbarFooter li {
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }
}

@media (min-width: 600px) {
    .svgIcon{
        display: none;
        max-height: 30px;
    }
    .svgIconLg{
        display: none;
    }
    .svgIconSide{
        display: block;
        max-height: 30px;
    }
    .navbarFooter {
        background: rgb(106,66,92);
        background: linear-gradient(90deg, rgba(106,66,92,1) 60%, rgba(74,46,64,1) 100%);
        left: 0;
        top: 0;
        height: 100%;
        width: 96px;
    }
    .navbarFooter ul {
        display: block;
    }
    .navbarFooter li {
        margin-top: 20px;
        margin-left: 30px;
    }
}
