.navbarFooter {
    background-color: var(--color-offwhite);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

.navbarFooter ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 1px;
}

.navbarFooter li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.navbarSide {
    background-color: var(--color-purple);
    height: 100%;
    width: 96px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: var(--color-offwhite);

}
.navbarSide a {
    text-decoration: none;
    color: var(--color-offwhite);
}
.navbarSide a:hover {
    text-decoration: underline;
}

.navItem{
    display: block;
    text-align: center;
    margin: 18px;

    /*height: 48px;*/
    /*background-color: white;*/
}

.svgIcon{
    max-height: 30px;
}
.navIcon{
    display: block;

}
.navLogo{
    max-width: 50px;
}

.navLabel{
    display: block;
}

/*.navbarSide ul {
    list-style-type: none;
    padding-inline-start: 1px;
    align-items: center;
}
.navbarSide li {
    padding: 6px;
    text-decoration: none;
}*/