.profileMain {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0.15rem 0.15rem 0.3rem var(--color-greyshadow);

}
.profileBox {
    max-width: 400px;
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    justify-items: left;
}
.profileImageBox {

}

.profileInfo {
    text-align: left;
    font-weight: bold;
}
.profileFood{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.profileFollow{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid var(--color-purple);
}
.foodIdBox {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    justify-items: right;
}

.followCard{
    max-width: 400px;
    height: 125px;
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    justify-items: right;
    font-weight: bold;
    font-size: 25px;
}
.followerMain {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    /* box-shadow: 0.15rem 0.15rem 0.3rem var(--color-greyshadow); */

}

.followerImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
