.recipeCard {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 300px;
    margin-bottom: 16px;
}

.recipeImageBox {

}

.recipeTitleBox {
    font-weight: bold;
    padding: 8px;
}

.recipeTitleBoxLg {
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.recipeImage {
    max-width: 64px;
    border-radius: 30%;
    box-shadow: 0.15rem 0.15rem 0.3rem var(--color-greyshadow);
}

.recipeCardMedium {
    display: block;
    max-width: 300px;
}

.recipeImageMedium {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0.15rem 0.15rem 0.3rem var(--color-greyshadow);
}

.recipeCardLarge {
    display: block;
    max-width: 300px;
}

.recipeImageLarge {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    box-shadow: 0.15rem 0.15rem 0.3rem var(--color-greyshadow);
}

.recipeBody {
    text-align: center;
    padding: 8px;
}

.recipePostedBy {
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    align-items:center;
}

.userProfilePicSmall {
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
}
.ingredientPicSmall {
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
}

.userNameSmall {
    padding: 8px;
    letter-spacing: 0.5px;
}
.postedBy {
    padding: 8px;
    font-weight: bolder;
}

.recipeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    justify-items: center;
}

.userPosterContainer {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 24px;
}
select {
    color: #3B362B;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'Oxygen';
}