/* Star rating */
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
}
.on {
    color: var(--color-pink);
}
.off {
    color: var(--color-greyshadow);
}
.svgIconExit{
    max-width: 25px;

}
.review-ratings{
    display: inline-grid;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    margin-bottom: 50px;
}
body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Comments{
    display: block;
}
.reviewTitleBox {
    padding-left: 8px;
    display: grid;
}
.reviewSectionTitle{
    font-weight: bolder;
}
.reviewSectionStars{
    color: var(--color-pink);
}
.toggleImg{
    max-width: 40px;
    position: absolute;
    top:10px;
    right:600px
}
.UpdateButton{
    max-width: 20px;
    position: absolute;
    top:53%;
    right:600px
}