@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.buttonRegister{
    background-color: var(--color-purple);
    border: var(--color-offwhite);
    outline: var(--color-offwhite);
    font-size: 16px;
    padding: 8px;
    font-family: 'Oxygen', sans-serif;
    border-radius: 8px;
    text-transform: uppercase;
    color: var(--color-offwhite);

}

@media (min-width: 1px) {
}

@media (min-width: 600px) {
    body {
        margin-left: 100px;
    }
}