@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@media (min-width: 1px) {
}

@media (min-width: 600px) {
    body {
        margin-left: 100px;
    }
}