@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    color: var(--color-nearlyblack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.buttonRegister {
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 16px;
    font-family: 'Oxygen', sans-serif;
    border-radius: 8px;
    text-transform: uppercase;
    color: var(--color-offwhite);
    width: 150px;
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;

}
.buttonLogin {
    background-color: var(--color-offwhite);
    border: 2px solid var(--color-purple);
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 16px;
    font-family: 'Oxygen', sans-serif;
    border-radius: 8px;
    text-transform: uppercase;
    color: var(--color-purple);
    width: 150px;
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;

}
/* Login and Register forms */
.card {

    max-width: 400px;
    border: 1px solid var(--color-purple);
    border-radius: 8px;
}
.card-body {

}
.form-group {
    text-align: right;
    font-weight: bolder;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form-group-button {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}



@media (min-width: 1px) {
    body {
        margin-bottom: 60px;
    }
    .imageBlockContainer {
        display: flex;
        justify-content: center;
    }
    .imageBlock {
        margin: 10px;
        width: 300px;
        height: 500px;
        float: left;
        background: url('../resources/images/jenn-kosar-rzPVSqQjjqs-unsplash_gauss30.jpg');
        background-size: cover;
    }
    .imageBlockTitle {
        background: rgba(35, 32, 26, 0.65);
        padding: 8px;
        margin-top: 125px;
        margin-left: 20px;
        margin-right: 20px;

    }
    .backgroundImg {
        max-height: 90%;
        max-width: 90%;
        margin-left: 20px;

    }
    .logo {
        max-width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
    .logoText{
        max-width: 50%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
}

@media (min-width: 600px) {
    body {
        margin-left: 100px;
    }
    .buttonRegister:hover {
        background-color: var(--color-purplemid);
        border: 2px solid var(--color-purplemid);
        text-decoration: underline;
    }
    .buttonLogin:hover {
        background-color: var(--color-offwhitelight);
        text-decoration: underline;
    }
}