.usercard{
    display: grid;
    grid-template-columns: 80px 1fr 50px;
    align-items:center;
    max-width: 400px;
}

.userFollowPicSmall {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.userFollowName {
    font-size: x-large;
    font-weight: bold;
    padding: 16px;
}


.plus-follow{
width: 35px;
height: 35px;

}
