.usercard{
    display: flex;
    align-items:center;
}

.userFollowPicSmall {
    max-width: 8%;
    height: 5%;
    border-radius: 50%;
    margin-left: 40px;

}

.userFollowName {
    padding-left: 100px;
    font-size: xx-large;
    font-weight: bold;
}

.btn-plus-follow{
    margin-left: -80px;
}


.pluspurplefollowimage{
width: 10%;
height: 10%;
display: inline-flex;
padding: 1px, 6px;

}
